@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Cabin', sans-serif;
    /* border: 2px solid #eb115a; */
}

body {
    color: whitesmoke;
    background-color: #272727;
    margin-right: 15%;
    margin-left: 15%;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 601px) {
    h1 {
        font-size: 3rem;
    }
}

h1 {
    color: #eb115a;
    text-shadow: 1px 0 currentColor;
    text-align: center;
    font-family: 'Comfortaa', monospace;
    margin: 2%;
}

a, a em {
    color: #ebb811;
    font-weight: bold;
}

p, ol, ul, dt, dd {
    font-size: medium;
}

dt, dt em {
    color: rgb(172, 172, 172);
}

img, video {
    height: auto;
    max-width: 100%;
    margin: auto;
    display: block;
}

.Separator {
    margin: 2em;
}